[importlinter]
root_package = boilerplate_python_component
include_external_packages = true
exclude_type_checking_imports = true

[importlinter:contract:layers]
name = Project Layered Architecture
type = layers

containers =
  boilerplate_python_component

layers =
  cli
  logger
  config

[importlinter:contract:tests-restrictions]
name = Explicit import restrictions for tests
type = forbidden

source_modules =
  boilerplate_python_component

forbidden_modules =
  tests
